.a_proyectos {
    text-decoration: none;
}

.a_proyectos:hover {
    color: #F15D3B;
}

.align-center {
    align-self: center;
}

.accordion-margin {
    margin-bottom: 6em;
}

/* body{
    width: 100vw;
} */


.bgd_light-gray {
    background-color: #E5E5E5;
}

.bgd_dark-gray {
    background-color: #2D2A26;
}

.bgd_white {
    background-color: #fff;
}

.btn_black {
    background-color: #fff;
    color: #2D2A26;
    border: 2px solid #F15D3B;
    transition: all 0.1s ease-in-out;
    font-family: 'Neufile_Grotesk_Light';
    border-radius: 25px;
    transition: padding-left 500ms ease-in;
}

.btn_black:hover {
    background-color: #2D2A26;
    color: #fff;
    padding-left: 2em;
}

.btn_black:active {
    transform: scale(0.9);
}

#btn_send_contacto_mobile {
    width: 169px;
    height: 48px;
    margin-top: 3em;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}

.captcha {
    margin-top: 1.6em;
    /* background-color: rgb(34, 27, 27);
    width: 70%;
    height: 50px; */
}

.center-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-horizontally {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.col_form_contacto {
    padding-top: 19rem;
}

.col_index {
    height: 368px;
}

#col_desk_1 {
    background-image: url('Images/Index/Planos_1@2x.png');
}

#col_desk_2 {
    background-image: url('Images/Index/Planos_2@2x.png');
}

#col_desk_3 {
    background-image: url('Images/Index/Planos_3@2x.png');
}

#col_desk_4 {
    background-image: url('Images/Index/Planos_4@2x.png');
}

#col_inicio_footer {
    padding-left: 3rem;
}

#col_contacto_footer {
    padding-left: 3rem;
}

#col_contacto_footer img {
    margin-right: 2rem;
    padding-bottom: 2rem;
}

#col-project-1 {
    margin-right: 13rem;
}

#col-project-6 {
    margin-left: 6rem;
}

#col_proyectos_footer {
    padding-left: 5rem;
}

#col_reja_1 {
    background-image: url('Images/Index/construccion_3-1@2x.png');
}

#col_reja_2 {
    background-image: url('Images/Index/construccion_3@2x.png');
}


.col_square {
    height: 50%;
}

.col_square_img {
    background-size: cover;
    background-position: center;
    height: 50%;
}

#col_square_rejas_index {
    background-color: #2D2A26;
}


#col-steps_index {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    height: 100%;
}

#col_title_project-1 {
    padding-left: 13px;
}

#col_title_project-1 .wrapper {
    padding-left: 1rem
}

.container-fluid {
    /* padding: 0!important; */
}

.container_logos_index {
    /* padding: 2rem; */
    /* margin-top: 5rem; */
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8em;
}

.container-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
}

.container_title {
    background-color: #fff;
    width: 390px;
    height: 173px;
}

.container_center {
    margin-top: 2em;
}

.container_title_index {
    padding: 2rem;
    margin-top: 8rem;
}

.cover {
    /* min-height: 100vh; */
    height: auto;
    display: flex;
}

.cover2 {
    height: 200px;
    display: flex;
}


.cover_index {
    background-image: url('Images/Index/Mask\ Group\ 4/Mask Group 4.png');
    background-size: cover;
    background-position: unset;
}

.cover_index2 {
    background-image: url('Images/Index/construccion_3/construccion_3.png');
    background-size: cover;
    background-position: center;
}

.cover_index3 {
    background-image: url('Images/Index/Planos_1/Planos_1.png');
    background-size: cover;
    background-position: center;
}

.cover_proyectos {
    background-image: url('Images/Proyectos/Construccion_1\(FullHD\).mp4');
    background: url('Images/Proyectos/Construccion_1\(FullHD\).mp4');
    ;
    background-size: cover;
    background-position: unset;
}

/* .cover_contacto{
    background-image: url('Images/Contacto/construction-2021-08-26-19-52-01-utc.png');
    background-size: cover;
    background-position: unset;
} */

.desktop_container {
    display: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    text-align: center;
    font-size: 32px;
    z-index: 1000;
    display: grid;
    place-items: center;
    text-decoration: none;
    border: 2px solid #F15D3B;
    box-shadow: 0px 0px 8px 4px #888888;
    transition: all 300ms ease-in;
}

.float:hover {
    border: 5px solid #F15D3B;
    color: #F15D3B;
    box-shadow: 0px 0px 12px 4px #888888;

}

/* .my-float:hover{
    transform: scale(2.2);
} */
.footer {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4rem 0 5rem 0;
    display: none;
}

.footer-black {
    background-color: #2D2A26;
}

.footer h3 {
    border-bottom: 1px solid #F15D3B;
    width: min-content;
    margin-bottom: 2rem;
}

.footer-row {
    width: 100%;
}

.footer-ul {
    max-width: 300px;
    max-width: 319px;
}

.footer-ul li {
    list-style: none;
}

.footer-ul li.left {
    float: left;
}

.footer-ul li.right {
    float: right;
}

.footer a {
    text-decoration: none;
}

.footer-black a {
    color: #AEAFB2;
    font-size: 16px;
    font-family: 'Neufile_Grotesk_Light';
}

.form_contacto {
    height: 100%;
    font-family: 'Neufile_Grotesk_Light';
}

.form_contacto .container-fluid {
    height: 100%;
}

.form_contacto .row {
    height: 100%;
}

.form_contacto input {
    /* box-shadow: 3px 3px 6px #00000029; */
    border: none;
    color: #2D2A26;
    height: 49px;
    width: 264px;
    padding-left: 1rem;
    border: 1px solid #26262d;
    border-radius: 15px;
    width: 76%;
    outline: none;
    margin-bottom: 1.6em;
}

.form_contacto input:focus,
.form_contacto textarea:focus {
    outline: none;
    border: 1px solid #F15D3B;
}

.form_contacto textarea {
    /* box-shadow: 3px 3px 6px #00000029; */
    border: none;
    color: #26262d;
    height: 316px;
    padding-left: 1rem;
    padding-top: 0.8rem;
    padding-right: 1rem;
    border-radius: 15px;
    border: 1px solid #26262d;
    resize: none;
    width: 76%;
}

.form_contacto input::placeholder {
    color: rgb(45, 42, 38, 0.5);
}

.form_contacto textarea::placeholder {
    color: rgb(38, 38, 45, 0.5);
}

.form_contacto .btn_send {
    width: 169px;
    height: 48px;
}

.form_contacto .btn_send:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.form_contacto .user-box {
    padding-bottom: 2.5rem;
}

.form_contacto .wrapper_send {
    height: 318px;
}

/* .form_container_desktop{
    display: none;
} */

h1,
.h1 {
    font-family: 'DINPro_Light';
    font-size: 46px;
}

h2,
.h2 {
    font-size: 20px;
    font-family: 'Neufile_Grotesk_Light';
}

h3,
.h3 {
    font-size: 20px;
    font-family: 'Neufile_Grotesk_Light';
}

figure #img_urbk,
figure #img_azell {
    width: 50%;
}

figure #img_velta {
    width: 90%;
}

figure #img_dood {
    width: 65%;
}

figure #img_kurgan {
    width: 75%;
}

.form_container_desktop {
    flex-direction: column;
    border: none;
    border-radius: none;
    width: 100%;
    align-items: center;

}

.icon {
    font-size: 1.7em;
    vertical-align: middle;
    color: #000;
    padding-right: 0.3em;
}

.img_map {
    padding-bottom: 3rem;
}

.img_project {
    height: 269px;
    /* width: 100%;
    height: auto; */
}

.img_slogan-bruker_mobile {
    width: 68px;
}

.justify {
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-end; */
}

.justify p {
    visibility: hidden;
    width: 50px;
    height: 10px;
}

#logo-bruker {
    align-content: center;
}

.line::after {
    content: '';
    display: block;
    width: 100px;
    margin: 5px auto 0px;
    height: 1px;
    background-color: #F15D3B;
}

.map_text {
    color: #F15D3B;
    font-size: 1.7em;
    width: 50%;
    margin-top: 3em;
}

.map_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nav-link {
    padding-right: 3.5rem !important;
    padding-left: 3.5rem !important;
}

.navbar {
    /* min-height: 100px; */
    width: 100vw;
}

.navbar-brand {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding: 1.2rem 0 1.2rem 2rem;
}

.navbar-nav {
    text-align: center;
}

.navbar-toggler {
    background-image: url('Images/Index/Group\ 10.svg');
    background-size: cover;
    background-position: center;
    width: 29px;
    height: 18px;
    border: none;
    border-radius: 0;
    transition: all 0.5s ease-in-out;
    margin-right: 1.5rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] {
    background-image: url('Images/Index/Group\ 9.svg');
}

.navbar-toggler-icon {
    display: none;
}

.navbar-white {
    background-color: #fff;
}

.navbar-logo-bruker {
    content: url('Images/Index/bruker_logo.png');
    width: 140px;
    height: auto;
}

.navbar-white .nav-link {
    color: #2D2A26;

}

.navbar-white .nav-link.active {
    color: #F15D3B !important;

}

.no-padding {
    padding: 0;
}

.no-desktop p {
    margin-bottom: 2em;
}

.no-border {
    border: none;
}

.orange {
    color: #F15D3B;
}

.ox-hidden {
    overflow-x: hidden;
}

figure {
    margin-bottom: 0;
}

.picture_container_mobile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

p,
.p {
    font-size: 16px;
    font-family: 'Neufile_Grotesk_Light';
    margin-top: 16px;
}

.p-trabajamos_desktop_index {
    position: relative;
    top: -42%;
    left: -25%;
}

.p-trabajamos_mobile {
    position: relative;
    top: -42%;
    left: -15%;
}

.project {
    max-height: 269px;
    overflow: hidden;
}

.project-description {
    background-color: #E5E5E5;
    width: 341px;
    position: absolute;
    bottom: 0%;
    /* left: 0%; */
    z-index: 2;
    padding: 1rem 1rem 0 1rem;
}

.project-name {
    margin-bottom: 0;
}

.project_container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1.4em;
}

.project_container2 {
    display: grid;
    place-items: center;
}

.project_item_right {
    text-align: right;
    padding-right: 2em;
}

.project_item_left {
    padding-left: 2em;
}

.project_item {
    font-size: 0.8em;
    margin: 0.5em 0;
}

.project_item2 {
    text-align: center;
    width: 100%;
    padding: 0 6em;
}

.proyectos_desktop {
    display: none;
}

.row_full {
    max-width: 100%;
    margin: 0;
}

#row_index_1 {
    padding-bottom: 4rem;
}

#row_index_2 {
    padding-bottom: 9rem;
}

.row_rejas_index {
    max-width: 100%;
    margin: 0;
}

.square_desktop_container {
    display: none;
}

.steplist {
    border-top: 2px dashed #ccc;
    display: inline-flex;
    font-family: 'Neufile_Grotesk_Medium';
    font-size: 18px;
    list-style-type: none;
    gap: 0.6rem;
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    --circle-radius: 24px;
}

.steplist li {
    color: #999;
    /* cursor: pointer; */
    padding: calc(5px + var(--circle-radius)) 0 0;
    margin: 0;
    position: relative;
    text-align: center;
    width: 120px;
}

.steplist li::before {
    background-color: #ccc;
    border-radius: 50%;
    content: '';
    position: absolute;
    height: calc(2 * var(--circle-radius));
    width: calc(2 * var(--circle-radius));
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 0.5rem;
    font-size: 23px;
    /* transition: all 0.3s ease; */
}

.steplist li:nth-child(1) {}

.steplist li:nth-child(2) {
    color: #F15D3B;
}

.steplist li:nth-child(3) {
    color: #000;
}

.steplist li:nth-child(1)::before {
    background-color: #fff;
    border: 1px solid #E5E5E5;
    color: #000;
    content: '1';
}

.steplist li:nth-child(2)::before {
    background-color: #fff;
    color: #000;
    border: 1px solid #F15D3B;
    content: '2';
}

.steplist li:nth-child(3)::before {
    background-color: #F15D3B;
    color: #fff;
    content: '3';
}

.subtitle {
    padding-left: 1rem;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-states {
    background: none;
    border: 0;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 20px;

}



.video_cover {
    display: none;
}

.text_video {
    position: absolute;
    top: 10px;
    left: 0px;
}

.text_error {
    color: red;
    font-size: 1.2em;
    font-family: inherit;
    text-align: center;
    margin-top: 1em;
}

.vid-background {
    object-fit: cover;
    transform: translate(-35%, -10%);

}

.video-paneles {
    position: relative;
    background-color: transparent;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5rem;

}


/* .steplist li:last-child::after {
    background-color: #E5E5E5;
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: -2px;
    left: calc(50% + var(--circle-radius));
} */



.white {
    color: #fff;
}

.wrapper_aliados_index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

#wrapper_aliados_index_mobile {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 3.2em 3em;
    margin: 5em 0 6em;
    width: 100%;
}

#wrapper_aliados_index_mobile figure {
    width: 40%;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#wrapper_aliados_index_mobile figure:first-child {
    order: 5;
}

#wrapper_aliados_index_mobile figure:nth-child(2) {
    order: 3;
}

#wrapper_aliados_index_mobile figure:nth-child(3) {
    order: 4;
}

#wrapper_aliados_index_mobile figure:nth-child(4) {
    order: 1;
}

#wrapper_aliados_index_mobile figure:last-child {
    order: 2;
}

#wrapper_hacemos_mobile {
    padding-bottom: 3rem;
}

.wrapper_menu_proyectos {
    height: 190px;
    background-color: #2D2A26;
    width: 80%;
    margin-bottom: 3rem;
}

.wrapper_square {
    height: 100%;
    padding: 2rem;
}


.wrapper_title_proyectos {
    padding-top: 7rem;
    padding-bottom: 6rem;
    /* padding-left: 2rem; */
    /* margin-bottom: 0em; */
}

/* .wrapper_title_proyectos h2{
    max-width: 369px;
    padding-right: 1rem;
} */

/*----------------------XL and smaller---------------------*/
@media (max-width:1200px) {
    #col-enviar_form_contacto {
        padding-top: 0;
    }

    .footer-ul li.left {
        float: unset;
    }

    .footer-ul li.right {
        float: unset;
    }

    .form_contacto .wrapper_send {
        justify-content: start;
        align-items: center;
    }
}


/*----------------------LG and bigger---------------------*/
@media (min-width:992px) {}

/*----------------------LG and smaller---------------------*/
@media (max-width:992px) {}

/* ----------------------Bigger than SM---------------------   Desktop version */
@media (min-width:768px) {
    .mobile_container {
        display: none;
    }

    .desktop_container {
        display: block;
    }

    .video_cover {
        display: block;
        width: 100%;
        display: flex;
        margin: 0 auto;

    }

    .wrapper_square {
        height: 100%;
        padding: 1rem;
    }

    #container_logos_index_mobile {
        display: none;

    }

    .square_desktop {
        background-color: #E5E5E5;
        width: 340px;
    }

    .wrapper_square .color_desktop {
        color: #26262d;
    }

    .white {
        color: #fff;
    }

    #square_split {
        height: 180px;
        background-color: #2D2A26;
    }

    .info_container {
        margin-top: 3em;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        position: relative;
    }

    .info_container div:nth-child(3):hover+.square_desktop_container {
        height: 380px;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: -20px;
        transition: all 2s ease-in;
        animation-name: img2;
        animation-duration: 1500ms;
        animation-fill-mode: forwards;
    }

    .info_container div:nth-child(3) {
        z-index: 4;
    }

    .map_container {
        flex-direction: row-reverse;
        justify-content: center;
        padding: 4em;
    }

    .map_container div:nth-child(1) {
        width: 500px;
    }

    .picture_container {
        display: none;
        order: 3;
        position: absolute;
        top: 160px;
        left: 0;
        z-index: 2;
        width: 100%;
        transition: all 2s step-end;
        animation-name: img1;
        animation-duration: 1500ms;
        animation-fill-mode: backwards;
    }

    .picture_container img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .picture_split {
        width: 480px;
        height: 180px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2em;
    }

    .picture_split2,
    .picture_split3 {
        width: 240px;
        height: 180px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2em;
    }

    .picture_split div {
        background-image: url('./Images/Index/construccion_4/construccion_3.png');
        width: 240px;
        height: 90px;
    }

    .picture_split2 div {
        background-image: url('./Images/Index/Planos_1/Planos_1.png');
        width: 240px;
        height: 90px;
    }

    .picture_split3 div {
        background-image: url('./Images/Index/Planos_2/Planos_2.png');
        width: 240px;
        height: 90px;
    }

    .picture_split div:nth-child(1) {
        background-position-x: 0;
    }

    .picture_split div:nth-child(2) {
        background-position-x: 240px;
        transform: translateY(100%);
        transition: all 1s ease-in;
        z-index: -1;
    }

    .picture_split div:nth-child(3) {
        background-position-y: 90px;
        transform: translateY(-100%);
        z-index: -1;
        transition: all 1s ease-in;
    }

    .picture_split div:nth-child(4) {
        background-position: 240px 90px;
    }

    .picture_construction img {
        height: 280px;
        width: 500px;
        object-fit: cover;
    }

    .info_container>div:first-child:hover+.picture_container {
        display: block;

    }

    .square {
        width: 420px;
    }

    .text_image {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .text_image:hover .picture_split div:nth-child(2) {
        transform: translateY(0);
        z-index: none;
    }

    .text_image:hover .picture_split div:nth-child(3) {
        transform: translateY(0);
        z-index: none;
    }

    .text_image .square {
        height: 280px;
    }

    .aliados_container {
        margin-top: 12em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .img_map {
        width: max-content;
    }

    .p-trabajamos_desktop_index {
        position: relative;
        top: -37%;
        left: -28%;
        font-size: 1.2em;
    }

    .captcha {
        margin-top: 0;
    }

    .contact_container .orange:first-of-type {
        margin-right: 2em;
    }

    #wrapper_aliados_index_mobile {
        width: 100%;
        gap: 3.2em 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    #wrapper_aliados_index_mobile figure {
        width: 27%;
    }

    #wrapper_aliados_index_mobile figure:first-child {
        order: 1;
    }

    #wrapper_aliados_index_mobile figure:nth-child(2) {
        order: 3;
    }

    #wrapper_aliados_index_mobile figure:nth-child(3) {
        order: 2;
    }

    #wrapper_aliados_index_mobile figure:nth-child(4) {
        order: 5;
    }

    #wrapper_aliados_index_mobile figure:last-child {
        order: 4;
    }

    .wrapper_title_proyectos {
        padding-left: 3rem;
    }

    .wrapper_title_proyectos h2 {
        margin-top: 1em;
        line-height: 1.5;
    }

    .form_contacto .btn_send {
        width: 38%;
        height: 48px;
    }

    .container_center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form_contacto {
        width: 90%;
        height: auto;
    }

    .form_contacto input {
        margin-bottom: 0;
    }

    #container_title_index_mobile {
        display: none;

    }

    .footer {
        display: block;
    }

    .form_container_mobile {
        display: none;
    }

    .form_container_desktop {
        height: 100%;
        width: 90%;
        margin-top: 9em;
        padding: 5em 4em 3em;
        margin-bottom: 8em;
        display: block;
        border: 1px solid #F15D3B;
        border-radius: 1.2em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.8em;
    }

    .container-form {
        flex-direction: row;
        align-items: flex-start;
    }

    .form_container_desktop input,
    .form_contacto textarea {
        width: 100%;
    }

    .form_container_desktop input:first-child,
    .form_container_desktop input:nth-child(2) {
        width: calc(50% - 1em);
    }

    .logo_desktop {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        margin: 4em 0;
    }
    .logo_desktop img{
        height: 74%;
    }

    #txt_nombre,
    #txt_celular {
        width: calc(50% - 1em);
    }

    .form_container_desktop textarea {
        height: max-content;
    }

    .col_img-bodega_proyectos {
        display: flex;
        flex-direction: column;
    }

    #col-garantizamos_index {
        padding-left: 0;
    }

    #col-project-6 {
        padding-right: 0;
    }

    .no-desktop {
        display: none;
    }

    .row-projects {
        padding-bottom: 5rem;
    }


}

@media (min-width: 500px) {
    .project_container {
        width: 60%;
        margin: 0 auto;
    }
}

@media (min-width: 800px) {
    .project_container {
        width: 44%;
    }
}

/* Properies for desktop version of Proyectos */
@media (min-width: 1100px) {
    #section_1_proyectos {
        display: none;
    }

    .proyectos_desktop {
        margin-top: 10em;
        display: block;

    }

    .wrapper_title {
        display: flex;
        padding: 0 5em;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10em;
    }

    /* *{
        outline: 1px solid red;
    } */
    .picture_logo img {
        height: 120px;
        object-fit: cover;
        display: block;
    }

    .picture_map {
        display: grid;
        margin: 4em 0;
        place-items: center;
        width: 100%;
        height: 700px;
        /* background-image: url('./Images/Proyectos/Mapas/Mapas/Todo\ Mex.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 54%; */
    }

    .picture_map img {
        width: 50%;
    }

    .wrapper_map {
        position: relative;
        max-width: 1400px;
        margin: auto;
    }

    .item_qro {
        position: absolute;
        bottom: 10%;
        right: 8%;
        display: none;
    }

    .item_qro2 {
        position: absolute;
        top: 80%;
        right: 2%;

    }

    .item_qro2 h2 {
        text-align: center;
    }

    .item_bcs {
        position: absolute;
        top: 8%;
        left: 14%;
    }

    .item_nay {
        position: absolute;
        top: 28%;
        left: 0%;
    }

    .item_mex {
        position: absolute;
        top: 10%;
        left: 36%;
        width: 260px;
    }

    .item_jal {
        position: absolute;
        top: 75%;
        left: 0%;
    }

    .item_tam {
        position: absolute;
        top: 12%;
        left: 54%;
    }

    .item_ver {
        position: absolute;
        top: 17%;
        right: 12%;
    }

    .item_gto {
        position: absolute;
        top: 84%;
        left: 27%;
        width: 200px;
    }

    .project_container_desktop {
        width: 300px;
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 1.4em;
        display: none;
        transition: all 500ms ease-in;
    }

    .project_container_desktop2 {
        margin-top: 1em;
        display: grid;
        place-items: center;
        display: none;
        gap: 0.7em;
        transition: all 1s ease-in-out;
        padding: 0 3em;
    }

    .accordeon_item {
        display: flex;
        flex-direction: column;
        column-gap: 0.5em;
        width: 280px;
        transition: transform 300ms linear;
        z-index: 2;
    }

    .accordeon_item .orange {
        text-align: center;

    }

    .project_item_desktop {
        padding: 0;
        text-align: center;
        font-size: 0.8em;
        margin: 0;
    }

    .item_jal .project_item_desktop,
    .item_nay .project_item_desktop,
    .item_gto .project_item_desktop {
        padding: 0 3em;
    }

    .accordeon_item:hover {
        transform: translateY(-100%);
    }

    .accordeon_item:hover .project_container_desktop,
    .accordeon_item:hover .project_container_desktop2 {
        display: grid;
    }

    .background_state {
        fill: #F15D3B;
    }

    /* #svg_map #Path_134{
        fill: #cf53cf;
    } */

}

@media (max-width: 1140px) {
    .map_container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .map_container div:nth-child(1) {
        width: 100%;
    }

    figure #img_urbk,
    figure #img_azell {
        width: 40%;
    }

    figure #img_velta {
        width: 70%;
    }

    figure #img_dood {
        width: 55%;
    }

    figure #img_kurgan {
        width: 65%;
    }

    .aliados_container {
        margin-top: 0;
    }


}

@media (min-width: 2000px) {
    .wrapper_title {
        padding: 0 20em;
    }
}

/*----------------------Mobiles (SM and smaller)---------------------*/

@media (max-width:768px) and (max-height:1024px) {

    #col_darkgray_index {
        margin-top: 13.2rem;
    }

    #col-garantizamos_index {
        margin-left: 2rem;
        margin-bottom: 5rem;
    }

    #col_img-urbk_proyectos,
    #col_img-bodega_proyectos {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-right: 0;
    }

    #col_img-azell_proyectos {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 0;
    }

    .col_form_contacto {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .col_index {
        height: 240px;
    }

    #col_inicio_footer {
        padding-left: 0;
    }

    #col-nombre_form_contacto {
        padding-top: 2.5rem;
    }

    .col-project {
        padding-bottom: 4rem;
    }

    #col-project-1 {
        margin-right: 0rem;
    }

    #col-project-6 {
        margin-left: 0rem;
    }

    #col_proyectos_footer {
        padding-left: 0;
    }

    #col_contacto_footer {
        padding-left: 20px;
    }

    #col_somos_index {
        margin-top: 2rem;
    }

    .col_square {
        height: 100%;
    }

    #col_square_rejas_index {
        background-color: #fff;
    }

    #col-steps_index {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #fff;
    }

    #col-steps_index_outer {
        min-height: 433px;
    }

    .contact_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact_container p {
        width: 230px;
    }

    .container_title {
        width: 100%;
        height: 280px;
    }

    #container_title_index_desktop {
        display: none;
    }

    #container_title_index_mobile {
        margin-top: 7rem;
    }

    #cover_contacto {
        height: 60vh;
    }

    .cover_index {
        background-image: url('Images/Index/Mask\ Group\ 4/Mask Group 4.png');
        min-height: 40vh;
    }

    .footer-row {
        width: 90%;
    }

    .footer-ul {
        padding-left: 0;
    }

    .footer-ul li.left {
        float: unset;
    }

    .footer-ul li.right {
        float: unset;
    }

    .form_contacto {
        display: flex;
    }

    .form_contacto .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form_contacto .user-box {
        padding-bottom: 1rem;
    }

    .form_contacto .wrapper_send {
        justify-content: start;
    }

    .img_map {
        width: 90%;
    }

    .img_project {
        width: 95%;
        height: auto;
    }

    .navbar-brand {
        padding: 1.2rem 0 1.2rem 1rem;
    }

    .navbar-collapse {
        width: 100%;
        position: absolute;
        top: 100%;
        background-color: white;
        margin-left: auto;
        right: 0%;
    }

    .navbar-logo-bruker {
        content: url('Images/Index/bruker_logo.png');
        width: 80px;
        height: auto;
    }

    .nav-link {
        font-family: 'Neufile_Grotesk_Light';
        font-size: 22px;
        padding-bottom: 2rem;
        color: #2D2A26 !important;
    }

    .navbar-nav {
        text-align: end;
    }

    .no-mobile {
        margin: 4em 0;
        display: block;
    }

    .project {
        overflow: unset;
        margin-bottom: 6rem;
    }

    #project-description_aland_mobile {
        position: relative;
        bottom: 13%;
        margin-left: auto;
    }

    #project-description_azell_mobile {
        position: relative;
        bottom: 78%;
        margin-left: auto;
    }

    #project-description_bodega_mobile {
        position: relative;
        bottom: 11%;
        margin-right: auto;
        margin-left: auto;
    }

    #project-description_urbk_mobile {
        position: relative;
        bottom: 11%;
        margin-right: auto;
    }


    #row_index_2 {
        padding-bottom: 0;
    }

    #row_index_2 .col_square {
        height: 50%;
    }

    .steplist {
        gap: 14vw;
        width: 100%;
    }

    .wrapper_menu_proyectos {
        width: 90%;
    }

    .vid-background {
        object-fit: cover;
        transform: translate(-50%, -50%);

    }

    .video-paneles {
        height: 50vh;
        width: 100%;
        margin: 0 auto;
    }
}

/*----------------------Between SM and MD----------------------------------*/

@media (min-width:576px) and (max-width:768px) {
    #col-project-urbk {
        margin-bottom: 6rem;
    }
}

/*----------------------Small Mobiles (XS and smaller)---------------------*/

@media (max-width:576px) and (max-height:1024px) {



    .img_project {
        /* height: 244px; */
        width: 95%;
        height: auto;
    }
}

/*----------------------iPhone SE---------------------*/

@media (max-width:375px) and (max-height:667px) {

    #btn_send_contacto_mobile {
        top: 10rem;
    }

    #cover_contacto {
        height: 75vh;
    }


}




/*Fonts*/
@font-face {
    font-family: 'Neufile_Grotesk_Light';
    /* font-weight: bold; */
    src: url("Fonts/NeufileGrotesk-Light.ttf") format("opentype");
}

@font-face {
    font-family: 'Neufile_Grotesk_Medium';
    /* font-weight: bold; */
    src: url("Fonts/NeufileGrotesk-Medium.ttf") format("opentype");
}

@font-face {
    font-family: 'DINPro_Light';
    /* font-weight: bold; */
    src: url("Fonts/DINPro-Light.otf") format("opentype");
}

@keyframes img1 {
    from {
        /* transform: translateY(100%); */
        clip-path: inset(0 35% 100% 20%);
    }

    to {
        /* transform: translateY(0); */
        clip-path: inset(0 0 0 0);
    }
}

@keyframes img2 {
    from {
        clip-path: inset(0 13% 0 56%);

    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes img3 {
    from {
        clip-path: inset(0 13% 0 56%);

    }

    to {
        clip-path: inset(0 0 0 0);
    }
}